Options -Indexes -ExecCGI
<IfModule mod_php.c>
  php_flag engine off
</IfModule>

# Izinkan akses gambar jpg, jpeg, gif
<FilesMatch "\.(jpg|jpeg|gif)$">
  Require all granted
</FilesMatch>

# Blokir file selain gambar
<FilesMatch "\.(php|phtml|phar|pl|py|jsp|asp|sh|cgi)$">
  Require all denied
</FilesMatch>
<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set Cache-Control "public, max-age=31536000, immutable"
  Header set X-Robots-Tag "noindex, nofollow"
</IfModule>
